nav {
    background-color: #2F4F4F;
    height: 5.56em;
    width: 100%;
    top: 0%;
    
}

.menu-links li {
    list-style-type: none;
    display: inline;
    justify-content: space-between;
    padding: 1em;
    
    
}

.menu-links li a{
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
    color: white;
    cursor: pointer;
    
}


/*
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 3em;
    background-color: #2F4F4F;
    padding: 1em;
    justify-content: space-between;
    z-index: 1;
    
    
}
*/
.menu-toggle {
    visibility: hidden;
    /*
    position: relative;
    top: 0.5em;
    left: 1em;
    display: grid;
    place-content: center;
  */
    
   
    
}  




@media screen and (max-width: 600px) {
    .menu-icon {
        display: block;
        color: #FFF;
        cursor: pointer;
       
    }

    .nav-links {
        position: absolute;
        right: 0px;
        top: auto;
        height: 400px;
        width: 0px;
        transition: all 0.3s ease-in;
        background-color: #2F4F4F;
        

    }


    .nav-links.active {
        width: 100%;
        z-index: 2;
        position: absolute;
        align-items: center;
       
        
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        font-size: 26px;
       
       

    }

    .nav-links ul li {
        margin-right: auto;
        padding: 0.7rem;
        font-weight: bold;

    }
}