.container{
  margin-left: 150px;
  margin-right: 150px;
}
.container .carousel-foto {
  max-height: 1350px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}

.container:after {
  content: "";
  display: table;
  clear: both; 
 
}


.container .carousel-foto .item {  
  float: left;
  width: 50%;
  padding: 10px; 
 
 
  
  
}


.container .carousel-foto .item .card-foto img {  
  margin-top: 12px;
  
}

.container .carousel-foto .item .info {
  
  flex-direction: column;
  justify-content: space-between;
}

.container .carousel-foto .item .info span {
  display: block;
  text-align: center;
  color: #1e1e1e;
  padding: 5px;
  border-radius: 10px;
}

.container .carousel-foto .item .info .name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2px 0;
  color: #00a8fb;
}

.container .carousel-foto .item .info .desc {
  font-size: 1rem;
  text-decoration: none;
  flex-grow: 1;
  color: cadetblue;
}

.container .carousel-foto .item .info .readmore{
  font-size: 0.8rem;
  text-decoration: none;
  flex-grow: 1;
}

.container .buttons {
  width: 100%;
  text-align: center;
 
}

.container .buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 4.8rem;
  margin-left: 10px;
  margin-right: 10px;
  
}